<launch>
    <!-- tag on wall -->
    
    <node name="apriltag_docking" pkg="apriltag_docking_ros" type="apriltag_docking_action_server.py" output="screen">
        <param name="lookahead_dist_multiplier" type="double" value="0.4" />
        <param name="rotational_vel_gain" type="double" value="1.0" />
        <param name="linear_vel_gain" type="double" value="0.1" />
        <param name="trans_bias" type="double" value="0.05" /> <!-- can shift the goal to the right with positive values-->
        <param name="goal_tolerance" type="double" value="0.30" /> <!-- 0.33-->
        <param name="docking_timeout" type="double" value="30" />
        <param name="tag_on_ceiling" type="bool" value="False" />
    </node>

    <!-- tag on ceiling -->
    
    <!-- <node name="apriltag_docking_ceiling" pkg="apriltag_docking_ros" type="apriltag_docking_action_server.py" output="screen">
        <param name="apriltag_docking_ceiling/lookahead_dist_multiplier" type="double" value="0.6" />
        <param name="apriltag_docking_ceiling/rotational_vel_gain" type="double" value="1.5" />
        <param name="apriltag_docking_ceiling/linear_vel_gain" type="double" value="0.1" />
        <param name="apriltag_docking_ceiling/goal_tolerance" type="double" value="0.1" />
        <param name="trans_bias" type="double" value="0.1" />
        <param name="apriltag_docking_ceiling/docking_timeout" type="double" value="20" />
        <param name="apriltag_docking_ceiling/tag_on_ceiling" type="bool" value="True" />
    </node> -->
</launch>